<div id="calculator-box" class="row w-75-sm text-center m-auto mt-5 shadow">
      <div class="col m-2 mt-5">
          <div id="screen" class="row m-2 mt-2">
              <input id="sc" type="text" class="form-control text-end form-control-lg p-3 " placeholder="Let's crunch some numbers!">
          </div>
          <div id="controls-panel" class="row flex-nowrap overflow-auto">
              <div id="num-pad" class="col-9 m-2 pt-3 border-end">
                  <div class="cotainer-fluid text-center p-3">
                      <div id="but-1" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">1</div>
                      <div id="but-2" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">2</div>
                      <div id="but-3" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">3</div>
                      <div id="but-4" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">4</div>
                      <div id="but-5" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">5</div>
                      <div id="but-6" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">6</div>
                      <div id="but-7" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">7</div>
                      <div id="but-8" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">8</div>
                      <div id="but-9" class="d-inline-block w-25 border shadow m-3 p-4 cal-but">9</div>
                      <div id="but-0" class="d-inline-block w-25 border shadow m-2 p-4 cal-but">0</div>
                  </div>
              </div>
              <div id="ops-pad" class="col m-2">
                  <div class="container text-center m-1-2 d-flex flex-column align-content-stretch">
                      <div id="but-Clear" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">Clear</div>
                      <div id="but-+" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">+</div>
                      <div id="but--" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">-</div>
                      <div id="but-X" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">X</div>
                      <div id="but-/" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">/</div>
                      <div id="but-=" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">=</div>
                      <div id="but-proceed" class="d-inline-block w-100 border shadow m-2 p-3 cal-but">Proceed</div>
                  </div>
              </div>
          </div>
      </div>
  </div>


<script src="/assets/script2.js"></script>