  <div id="dvCalendar" style="display: block"> 
    <div class="container">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>
            <p></p>
          </div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    </div>
  </div>
    <hr>

    <label for="chkCalendar">
    <input type="checkbox" id="chkCalendar" onclick="ShowHideDiv(this)" />
     <h3> Date Range <h3>
    </label>
    <hr />

    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    
    <div id="dvRange" style="display: none"> 
      <table>
      <tbody>
          <tr>
          <td>Period</td>
          </tr>
          <tr>
          <td>
              <div class='picker'>
              <label for="fromperiod">From</label>
              <input type="text" id="fromperiod" name="from">
              <label for="toperiod">to</label>
              <input type="text" id="toperiod" name="to">
              </div>
          </td>
          </tr>
      </tbody>
      </table>
    </div>
      <hr>
    <%= link_to 'Proceed', calculations_path %>

   <script src="/assets/calendar2.js"></script>

    <style>
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Quicksand", sans-serif;
            }

        html {
        font-size: 62.5%;
        }

        .container {
        width: 80%
        height: 50vh;
        background-color: #FFFFFF;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        .calendar {
        width: 45rem;
        height: 52rem;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
        }

        .month {
        width: 100%;
        height: 12rem;
        background-color: #167e56;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        text-align: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        }

        .month i {
        font-size: 2.5rem;
        cursor: pointer;
        }

        .month h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
        }

        .month p {
        font-size: 1.6rem;
        }

        .weekdays {
        width: 100%;
        height: 5rem;
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
        }

        .weekdays div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        }

        .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;
        }

        .days div {
        font-size: 1.4rem;
        margin: 0.3rem;
        width: calc(40.2rem / 7);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        transition: background-color 0.2s;
        }

        .days div:hover:not(.today) {
        background-color: #262626;
        border: 0.2rem solid #777;
        cursor: pointer;
        }

        .prev-date,
        .next-date {
        opacity: 0.5;
        }

        .today {
        background-color: #167e56;
        }
        .picker {
          
            display: inline;
            border: 1px solid lightgray;
            padding : 4px;
            }
            input {
            border: 0;
        }
        h3{
          color:black;
        }
        .next{

        }

    </style>